.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;   
    height: 100vh;
    max-height: 800px !important;
    background-color: #E5E5E5;
    padding-top: 70px;
}

.wrapper .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    margin: 0px auto;
}
.wrapper .title h1 {
    font-size: 54px;
    font-size: 700;
    line-height: 44px;
}

.wrapper .title span {
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
}
.wrapper .title .row {
    display: flex;
    align-items: center;
    gap: 30px;
}
.wrapper .title a {
    text-decoration: none;
    color: #0066CC;
    font-size: 21px;
    font-weight: 400;
}   

.wrapper .bodyImage {
    width: 100%;
    height: max(477px);
    object-fit: contain;
}