header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #424242;
}
header .links {
    display: flex;
    align-items: center;
    gap: 40px;
}

header .links a {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}